// ----------------------------------
//  Card Mixins 
// ----------------------------------

@mixin standin-image($color, $base-size) { 
    height: $base-size; 
    width: $base-size; 
    background-color: $color; 
    margin-right: $standard-margin; 
    flex-shrink: 0; 
}

@mixin standin-image-query($threshold-size, $height, $width) { 
    @media (max-width: $threshold-size) {  
        height: $height;
        width: $width; 
        margin-right: 0; 
    }
}

@mixin hero-img($img-url) { 
    background: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
        url($img-url); 
    background-size: cover; 
    background-position: center; 
}