// ----------------------------
// Color Palette 
// ----------------------------

$primary-color      : #0c1f31;
$secondary-color    : #ac9766;
$accent-color       : #fff;
$body-text-color    : #656b70;

// ----------------------------
// Other Colours 
// ----------------------------

$link-hover-color: rgb(219, 154, 55); 

$profile-color      : rebeccapurple; 
$blog-color         : orangered; 
$hovercolor-headfoot: #ee2a2a;

// ----------------------------
// Fonts
// ----------------------------

$header-font: 'Philosopher', sans-serif;
$paragraph-font: 'Muli', sans-serif;

// ----------------------------
// Animation Controls 
// ----------------------------

$hover-trans-time: 0.2s; 
$company-logo-scale: 1.2; 

// ----------------------------
// Measurements 
// ----------------------------

// Bootstrap Measurements
$small-devices: 576px; 
$medium-devices: 768px; 
$large-devices: 992px; 
$extra-large-devices: 1200px; 

// Custom Measurements
$header-height      : 60px; 
$hero-height        : 500px; 
$standard-margin    : 20px; 

$profile-pic-size: 125px; 
$blog-pic-size: 150px; 
$medium-card-size: 200px; 
$small-card-size: 300px; 

// Image URLS 

// Hero Images 
$index-hero-url: "../assets/hero-images/rawpixel-659501-unsplash.jpg"; 
$blog-hero-url: "../assets/hero-images/martha-dominguez-de-gouveia-738789-unsplash.jpg"; 
$about-hero-url: "../assets/hero-images/domenico-loia-272251-unsplash.jpg"; 

//Card Images for Index Page
$indexcard-1: "../assets/card-images/berkay-gumustekin-402114-unsplash-small.jpg";
$indexcard-2: "../assets/card-images/mitchell-orr-389605-small.jpg";
$indexcard-3: "../assets/card-images/ryan-walton-520633-unsplash-small.jpg";

//Card Images for About Page
$aboutcard-1: "../assets/card-images/memberphoto-1.jfif";
$aboutcard-2: "../assets/card-images/memberphoto-2.jfif";
$aboutcard-3: "../assets/card-images/memberphoto-3.jfif";
