body {
  background: #fff; }

.hero {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background: #ac9766; }

header {
  background: #0c1f31;
  height: 50px; }

main {
  width: 90%;
  margin: auto;
  text-align: left;
  padding: 50px 10px 50px 100px; }

main p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; }
