body {
  background-color: white;
  color: #656b70; }

h1 {
  color: #0c1f31; }

.hero {
  height: 240px;
  background-color: #ac9766; }
  .hero .container {
    height: 100%;
    display: flex;
    align-items: center; }
