


body {
    background: #fff;
}
.hero {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background: $secondary-color;
}

header {
    background: $primary-color;
    height: 50px;

}

main {
    width : 90%;
    margin: auto;
    text-align: left;
    // background: grey;
    padding : 50px 10px 50px 170px;
    
}

main p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;   
    
}