// -------------------
// Shared Aspects 
// -------------------


// Cards 
%card-base { 
    display: flex; 
    align-items: center; 

    width: 100%; 
    margin-bottom: $standard-margin; 
    
    h2 {
        font-family: $header-font; 
        font-weight: bold;
    }

    span, p { 
        font-family: $paragraph-font; 
    }

    &:last-child { 
        margin-bottom: 0; 
    }
}

%card-text-base { 
    h2 { 
        margin-top: 20px; 
        margin-bottom: 0; 
    }

    span { 
        display: block; 
        margin-bottom: $standard-margin / 2; 
    }

    p { 
        text-align: justify; 
    }

    @media (max-width: $medium-devices) { 
        h2 { 
            font-size: 1.4em; 
            margin-bottom: 0; 
        }
    }
}

// -------------------
// Blog Cards 
// -------------------

.blog-card { 
    @extend %card-base;

    @media (max-width: $small-devices) { 
        flex-direction: column; 
        align-items: center;
        width: $small-card-size; 
    }
}

.blog-image-1 { 
    @include standin-image($blog-color, $blog-pic-size); 
    @include generate-card-bg($indexcard-1, 20%, 20%); 
    @include standin-image-query($small-devices, (2 / 3) * $small-card-size, 100%);
}

.blog-image-2 { 
    @include standin-image($blog-color, $blog-pic-size); 
    @include generate-card-bg($indexcard-2, 20%, 20%); 
    @include standin-image-query($small-devices, (2 / 3) * $small-card-size, 100%);
}

.blog-image-3 { 
    @include standin-image($blog-color, $blog-pic-size); 
    @include generate-card-bg($indexcard-3, 20%, 50%); 
    @include standin-image-query($small-devices, (2 / 3) * $small-card-size, 100%);
}

.blog-text { 
    @extend %card-text-base; 
}

// -------------------
//  Member Cards 
// -------------------

.member-card { 
    @extend %card-base; 

    @media (max-width: $medium-devices) {
        flex-direction: column; 
        align-items: center; 
        width: $medium-card-size; 
        
        margin-right: $standard-margin / 2; 
        margin-bottom: 0; 

        &:last-child { 
            margin-right: 0; 
        }
    }

    @media (max-width: $small-devices) { 
        margin-right: 0; 
        width: $small-card-size; 
    }
}


.profile-pic-1 { 
    @include standin-image($profile-color, $profile-pic-size); 

    @include generate-card-bg($aboutcard-1, 20%, 40%); 

    @include standin-image-query($medium-devices, (2 / 3) * $medium-card-size, 100%);
    @include standin-image-query($small-devices, (2 / 3) * $small-card-size, 100%);
}

.profile-pic-2 { 
    @include standin-image($profile-color, $profile-pic-size); 

    @include generate-card-bg($aboutcard-2, 20%, 40%); 

    @include standin-image-query($medium-devices, (2 / 3) * $medium-card-size, 100%);
    @include standin-image-query($small-devices, (2 / 3) * $small-card-size, 100%);
}

.profile-pic-3 { 
    @include standin-image($profile-color, $profile-pic-size); 

    @include generate-card-bg($aboutcard-3, 20%, 40%); 

    @include standin-image-query($medium-devices, (2 / 3) * $medium-card-size, 100%);
    @include standin-image-query($small-devices, (2 / 3) * $small-card-size, 100%);
}

.member-info { 
    @extend %card-text-base; 
}
