// -------------------
// Shared Aspects 
// -------------------

// Card Containers 

%card-container { 
    padding: $standard-margin 0; 
    display: flex; 
    flex-direction: column; 
}

.blog-card-container { 
    @extend %card-container; 

    @media (max-width: $small-devices) {
        align-items: center; 
        justify-content: flex-start; 
    }
}

.about-card-container { 
    @extend %card-container; 

    @media (max-width: $medium-devices) {
        flex-direction: row; 
        justify-content: space-between; 
    }

    @media (max-width: $small-devices) {
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start; 
    }
}

// Cards 
%card-base { 
    display: flex; 
    align-items: center; 

    width: 100%; 
    margin-bottom: $standard-margin; 

    &:last-child { 
        margin-bottom: 0; 
    }
}

%card-text-base { 
    h2 { 
        margin-bottom: 0; 
    }

    span { 
        display: block; 
        margin-bottom: $standard-margin / 2; 
    }

    p { 
        text-align: justify; 
    }

    @media (max-width: $medium-devices) { 
        h2 { 
            font-size: 1.4em; 
            margin-bottom: 0; 
        }
    }
}

// -------------------
// Blog Cards 
// -------------------

.blog-card { 
    @extend %card-base;

    @media (max-width: $small-devices) { 
        flex-direction: column; 
        align-items: center;
        width: $small-card-size; 
    }
}

.blog-image { 
    @include standin-image($blog-color, $blog-pic-size); 

    @include standin-image-query($small-devices, (2 / 3) * $small-card-size, 100%);
}

.blog-text { 
    @extend %card-text-base; 
}

// -------------------
//  Member Cards 
// -------------------

.member-card { 
    @extend %card-base; 

    @media (max-width: $medium-devices) {
        flex-direction: column; 
        align-items: center; 
        width: $medium-card-size; 
        
        margin-right: $standard-margin / 2; 
    }

    @media (max-width: $small-devices) { 
        width: $small-card-size; 
    }
}


.profile-pic { 
    @include standin-image($profile-color, $profile-pic-size); 

    @include standin-image-query($medium-devices, (2 / 3) * $medium-card-size, 100%);
    @include standin-image-query($small-devices, (2 / 3) * $small-card-size, 100%);
}

.member-info { 
    @extend %card-text-base; 
}


