%card-container { 
    padding: $standard-margin 0; 
    display: flex; 
    flex-direction: column; 
}

.blog-card-container { 
    @extend %card-container; 

    @media (max-width: $small-devices) {
        align-items: center; 
        justify-content: flex-start; 
    }
}

.about-card-container { 
    @extend %card-container; 

    @media (max-width: $medium-devices) {
        flex-direction: row; 
        justify-content: space-between; 
    }

    @media (max-width: $small-devices) {
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start; 
    }
}