header{
    width:100%;
    height:50px;
    background:$primary-color;
    color:$accent-color;
    display: flex;
    align-items: center;
    
    .container { 
        display: flex;
        align-items: center; 
        height: 100%;
    }

    a {
        display: flex; 
        justify-content: center; 
        align-items: center; 

        padding-left: 20px; 
        padding-right: 20px; 

        height: 100%;

        color: $accent-color; 

        &:hover{
            color: $link-hover-color;
            text-decoration: none;
            background-color:#817f7f;
        }   
    }

    .header-logo{
        padding-left: 0;
        margin-right: auto;
        color: $accent-color;
        
        height: 100%;

        a {
            transition: $hover-trans-time;
            padding: 0; 
            &:hover{
                color: $hovercolor-headfoot;
                background-color: transparent; 
                text-decoration: none; 
                transform: scale($company-logo-scale);
            }
        }
    }    
}

